body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Open Sans", sans-serif;

}



.login-form{
    width: 700px;
    height: auto;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form:hover{
    box-shadow: 0 0 16px rgba(0, 0,0,0.3)
}

.login-content{
    margin-right: 25px;
    width: 300px;
}

.input-containor{
    margin-bottom: 25px;
}

.title{
    margin-bottom: 10px;
    font-size: 18px;
}

h2{
    font-size: 30px;
    padding-bottom: 15px;
}

input{
    width: 250px;
    height: 50px;
    border-radius: 30px;  
    border: 2px solid  rgb(31, 139, 255); 
    padding-left: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    outline: none;
    font-size: 16px;
    display: block;
  
}

#userPannel{
    margin-bottom: 15px;
    width: 270px;
    height: 50px;
    border-radius: 30px;  
    border: 2px solid  rgb(31, 139, 255); 
    padding-left: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    outline: none;
    font-size: 16px;
    display: block;
}

input:focus{
    border: 2px solid  rgb(255, 72, 102); 
}



button{
    width: 270px;
    height: 50px;
    background-color:rgb(31, 139, 255);
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

button:hover{
    background-color: rgb(255, 72, 102);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
}



a{
    text-decoration: none;
    color: rgb(31, 139, 255);
}

a:hover{
    color: rgb(255, 72, 102);
}



img{
    width:300px;
    height: 300px;
    margin-left: 15px;
    
}

#password-wrapper{
    position: relative;
}

.show-pass {
    position: absolute;
    right: 50px;
    top: 60%;
    cursor: pointer; 
    color: rgb(186, 180, 180);
}

h1{

    text-align: center;
    font-size: 45px;
    vertical-align: middle;
  
}

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px; 
    position: fixed;
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
  }
  
  
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

#logForm{
    margin-top: 45px;
}